<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>\bnext|older\b,^&gt;$,^(&gt;&gt;|»|›)$,^(&gt;|»|›),(&gt;|»|›)$,\bmore\b</string>
		<key>Key</key>
		<string>nextpattern</string>
		<key>Title</key>
		<string>Next pattern</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>\bprev|previous|newer\b,^&lt;$,^(&lt;&lt;|«|‹)$,^(&lt;|«|‹),(&lt;|«|‹)$</string>
		<key>Key</key>
		<string>prevpattern</string>
		<key>Title</key>
		<string>Previous pattern</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
